html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: system-ui, Arial, sans-serif;
  background-color: inherit;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.game-board {
  width: min(100dvw, 500px);
  aspect-ratio: 1;
  display: grid;
  background-color: wheat;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.game-board > button {
  color: white;
  font-size: min(3rem, 80px);
  width: min(30dvw, 450px / 3);
  height: min(30dvw, 450px / 3);
  background-color: darkcyan;
  text-align: center;
  display: grid;
  place-content: center;
  cursor: pointer;
}
